# Configurações do SheetDB (Integração com Google Sheets para captura de leads)
VITE_SHEETDB_URL=https://sheetdb.io/api/v1/sua_api_id
VITE_SHEETDB_BASIC_USER=seu_usuario_basic_auth
VITE_SHEETDB_BASIC_PASS=sua_senha_basic_auth
